APP_MODE=development
DOMAIN=<YOUR_DOMAIN_HERE>
CODE_SERVER_PASSWORD=<YOUR_SECRET_HERE>

# MongoDB credentials
MONGO_INITDB_ROOT_USERNAME=<YOUR_SECRET_HERE>
MONGO_INITDB_ROOT_PASSWORD=<YOUR_SECRET_HERE>
MONGO_DB_NAME=<YOUR_SECRET_HERE>

# JWT
JWT_SECRET=<YOUR_SECRET_HERE>
JWT_REFRESH_SECRET=<YOUR_SECRET_HERE>

# Redis Configuration
REDIS_PASSWORD=<YOUR_SECRET_HERE>

# Email App
EMAIL_USER=<YOUR_SECRET_HERE>
EMAIL_PASS=<YOUR_SECRET_HERE>

# Oauth2
GOOGLE_CLIENT_ID=<YOUR_SECRET_HERE>
GOOGLE_CLIENT_SECRET=<YOUR_SECRET_HERE>